@font-face {
    font-family: 'GothamPro';
    font-style: normal;
    font-weight: normal;
    src: url('../Fonts_Gotham\ Pro/GothamPro.woff2') format('woff2'),
        url('../Fonts_Gotham\ Pro/GothamPro.woff') format('woff'),
        url('../Fonts_Gotham\ Pro/GothamPro.ttf') format('ttf');
}

$default-font: 'GothamPro',
'Montserrat',
sans-serif;
$main-bg-color: #252525;
$main-text-color:#FFFFFF;
$lightning: #787878 0 0 0.375rem;
$white: #FFFFFF;
$text-color: rgba(255, 255, 255, 0.4);
$btn-bg2-color: rgba(255, 255, 255, 0.1);
$latest-bg-color: #141313;
$footer-bg-color: #252525;
$btn-bg1-color: rgba(0, 0, 0, 0.25);
$lightning: #787878 0 0 0.375rem;
$blackabout: rgba(0, 0, 0, 1);
$whiteabout: white;
$blackbg:rgba(37, 37, 37, 1);
$orangabout:rgb(129, 78, 33);
$whitebg:rgba(255, 255, 255, 0.8);
$black: #000000;
$blackcatalog: rgba(0, 0, 0, 1);
$blackcatalogbg:rgba(37, 37, 37, 1);
$orangcatalog:rgb(129, 78, 33);
$whitecatalogbg:rgba(255, 255, 255, 0.7);




@font-face {
    font-family: $default-font;
    font-style: normal;
    font-weight: normal;
    src: url("../Fonts_Gotham Pro/GothamPro.woff2") format("woff2"), url("../Fonts_Gotham Pro/GothamPro.woff") format("woff"), url("../Fonts_Gotham Pro/GothamPro.ttf") format("ttf");
}

.header {
    display: flex;
    justify-content: center;
}

.header__text {
    font-family: $default-font;
    font-size: 16px;
    line-height: 19px;
    color: $white;
}

.header__text-aboutus:hover,
.header__text-contacts:hover,
.header__text-partnership:hover,
.text:hover,
.dropdown-item:hover {
    cursor: pointer;
    text-shadow: 0 0 5px $white;
}

.header__text-aboutus-link {
    text-decoration: none;
    color: $white;
}

.header__text-aboutus-link:hover {
    color: $white;
    text-shadow: 0 0 5px $white;
}

.catalog {
    display: flex;
    padding-top: 3%;
}

.button {
    border: none;
    background-color: transparent;
}

.carousel-control-next {
    width: 140px;
}

@media screen and (min-width: 1024px) {
    .header__text {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        flex-grow: 1;
        width: 60%;
        margin-bottom: 5%;
        top: 7%;
        color: $white;
    }

    .text {
        padding-top: 12px;
    }

    .dropdown {
        padding-top: 10px;
    }

    .header__logo {
        position: absolute;
        left: 10%;
        top: 8%;
    }

    .header__basket {
        position: absolute;
        right: 10%;
        top: 8%;
        width: 40px;
        height: 40px;
    }

    .basket {
        position: absolute;
        right: 0;
        top: 0;
    }

    .header__ellipse2 {
        position: absolute;
        right: 0;
        top: 0;
    }

    .header__four {
        position: absolute;
        right: 3px;
        top: 0;
        color: $white;
        font-size: 10px;
    }

    .header__ellipse2 {
        position: absolute;
    }

    .header__text-aboutus,
    .header__text-contacts,
    .header__text-catalog,
    .header__text-partnership {
        padding-inline: 20px;
    }

    .header__iphone {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header__text {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        flex-grow: 1;
        width: 60%;
        top: 5%;
        color: $white;
    }

    .text {
        padding-top: 5px;
    }

    .dropdown {
        padding-top: 2px;
    }

    .header__text-aboutus,
    .header__text-contacts,
    .header__text-catalog,
    .header__text-partnership {
        min-width: 100%;
        text-align: center;
        line-height: 20px;
    }

    .catalog {
        justify-content: center;
        width: 100%;
    }

    .header__logo {
        position: absolute;
        left: 10%;
        top: 5%;
    }


    .header__basket {
        position: absolute;
        right: 10%;
        top: 5%;
        top: 8%;
        width: 40px;
        height: 40px;
    }

    .basket {
        position: absolute;
        right: 0;
        top: 0;
    }

    .header__ellipse2 {
        position: absolute;
        right: 0;
        top: 0;
    }

    .header__four {
        position: absolute;
        right: 3px;
        top: 0;
        color: $white;
        font-size: 10px;
    }

    .header__ellipse2 {
        position: absolute;
    }

    .header__iphone {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        background-color: $black;
    }

    .header__logo {
        display: none
    }


    .header__basket,
    .header__ellipse2,
    .header__four {
        display: none;
    }

    .header__text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        color: $white;
    }

    .header__text-catalog {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .header__text-aboutus,
    .header__text-catalog,
    .header__text-partnership,
    .header__text-contacts {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-bottom: 10px;
    }

    .header__basket,
    .header__ellipse2,
    .header__four {
        display: none;
    }


    .header__iphone {
        display: none;
    }

}


.aircleaner {
    display: flex;
    justify-content: center;
}

.aircleaner__img {
    width: 100%;
}

.card-img-top .card-color {
    height: 500px;
}


.carousel-control-next,
.carousel-control-prev {
    background-color: transparent;
    border-style: none;
    height: 100%;
}

.aircleaner__buttons-button1:hover,
.aircleaner__buttons-button2:hover {
    -webkit-box-shadow: $lightning;
    box-shadow: $lightning;
}

@media screen and (min-width: 1024px) {
    .aircleaner__title {
        position: absolute;
        top: 30%;
        left: 10%;
        color: $white;
        z-index: 2;
        font-family: Gotham Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 61px;
        width: 700px;
    }

    .aircleaner__description {
        position: absolute;
        color: $white;
        top: 50%;
        left: 10%;
        width: 500px;
        font-size: 20px;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.4);
    }

    .aircleaner__buttons {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 700px;
        top: 70%;
        left: 10%;
        padding-bottom: 30px;
    }

    .aircleaner__buttons-button1 {
        background: -webkit-gradient(linear, left top, left bottom, from(#E39045), to(#754519));
        background: linear-gradient(180deg, #E39045 0%, #754519 100%);
        -webkit-box-shadow: 4px 4px 4px $btn-bg1-color;
        box-shadow: 4px 4px 4px $btn-bg1-color;
        border: none;
        color: white;
        font-size: 26px;
        height: 80px;
        border-radius: 50px;
        width: 280px;
    }

    .aircleaner__buttons-button2 {
        background: transparent;
        color: $white;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 80px;
        font-size: 26px;
        border-radius: 50px;
        width: 280px;
        
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .aircleaner__title {
        position: absolute;
        top: 26%;
        left: 10%;
        color: $white;
        z-index: 2;
        font-family: Gotham Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 40px;
        width: 400px;
    }

    .aircleaner__description {
        position: absolute;
        color: $white;
        top: 36%;
        left: 10%;
        width: 300px;
        line-height: 16px;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.4);
    }

    .aircleaner__buttons {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 400px;
        top: 50%;
        left: 10%;
    }

    .aircleaner__buttons-button1 {
        background: -webkit-gradient(linear, left top, left bottom, from(#E39045), to(#754519));
        background: linear-gradient(180deg, #E39045 0%, #754519 100%);
        -webkit-box-shadow: 4px 4px 4px $btn-bg1-color;
        box-shadow: 4px 4px 4px $btn-bg1-color;
        border: none;
        color: $white;
        height: 50px;
        border-radius: 50px;
        width: 160px;
    }

    .aircleaner__buttons-button2 {
        background: transparent;
        color: $white;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 50px;
        border-radius: 50px;
        width: 160px;
    }
}


@media screen and (max-width: 767px) {

    .aircleaner,
    .carousel .slide,
    .aircleaner__title {
        display: none;
    }

}


@media screen and (max-width: 900px) {
    button.btn-rounded {
        padding-left: 10px;
        padding-right: 30px;
    }
}

@media all and (max-width: 700px) {
    .tuk {
        margin-left: -50px;
        margin-right: -50px;
    }

    .card-link_color {
        font-size: 10px;
        line-height: 14px;
    }
}

.wrapper-header {
    max-width: 100%;
    margin: auto;
    background-color: $black;
}

.textpro {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 62px;
    color: $white;
}

.textcard {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: $white;
}

.textcard_into {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $white;
}

.btn-rounded {
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 150px;
    background-color: $footer-bg-color;
    color: $white;
}

.plus_bg {
    background-color: #814e21;
    border-radius: 20px;
    color: $white;
}

.card-color {
    background-color: $footer-bg-color;
    border-radius: 10px;
    height: 300px;
}

.card-color:hover {
    background-color: $white;
}

.card-bgcolor {
    background-color: $black;
}

.text_align {
    text-align: start;
}

.point {
    width: 40px;
    height: 10px;
}

.card-link_color {
    color: $whitecatalogbg;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
}





.LP__about-us {
    width: 100%;
    height: 680px;
}

.container-fluid {
    width: 100%;
    height: 680px;
    max-width: 100%;
    background: -webkit-gradient(linear, right top, left top, color-stop(23.57%, $main-bg-color), color-stop(82.29%, rgba(37, 37, 37, 0)));
    background: linear-gradient(270deg, $main-bg-color 23.57%, rgba(37, 37, 37, 0) 82.29%);
    background: -webkit-gradient(linear, right top, left top, color-stop(23.57%, $main-bg-color), color-stop(82.29%, $main-bg-color));
    background: linear-gradient(270deg, $main-bg-color 23.57%, $main-bg-color 82.29%);
}

.carousel-item {
    width: 100%;
}

.LP__about_text-title {
    font-family: $default-font;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 60px;
    color: $white;
    margin-bottom: 40px;
}

.LP__about_text-text {
    font-family: $default-font;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.6);
}

.LP__about_text-item1 {
    text-align: left;
}

.LP__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 1029px;
    background: -webkit-gradient(linear, right top, left top, color-stop(23.57%, $main-bg-color), color-stop(82.29%, rgba(37, 37, 37, 0)));
    background: linear-gradient(270deg, $main-bg-color 23.57%, rgba(37, 37, 37, 0) 82.29%);
    background: -webkit-gradient(linear, right top, left top, color-stop(23.57%, $main-bg-color), color-stop(82.29%, $main-bg-color));
    background: linear-gradient(270deg, $main-bg-color 23.57%, $main-bg-color 82.29%);
}

.LP__about_text {
    width: 50%;
    margin: 100px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 160px 150px 0px 100px;
}

.LP__about_text-title {
    font-family: $default-font;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 60px;
    color: $white;
    margin-bottom: 40px;
}

.LP__about_text-text {
    font-family: $default-font;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.6);
}

.LP__about-nav {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-right: 40px;
    margin-left: 40px;
}

.LP__about-img {
    height: 1029px;
    width: 50%;
    background: url(/bork/assets/LP/about-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}




.footer {
    font-family: $default-font;
    font-size: 30px;
    line-height: 29px;
}

.button1:hover {
    box-shadow: $lightning;
}

.footer__button2 {
    padding-top: 50px;
}



.button2:hover {
    box-shadow: $lightning;
}


.footer__inn .hover:hover,
.footer__catalog .hover:hover,
.footer__partnership .hover:hover,
.footer__aboutus .hover:hover {
    text-shadow: 0 0 3px $white;
}

.color__item:hover {
    color: $white;
}

.footer__links {
    padding-top: 5%;
    min-width: 300px;
}

.footer__catalog-link {
    text-decoration: none;
    color: $white;
}

.footer__catalog-link:hover {
    color: $white;
    text-shadow: 0 0 3px $white;
}


@media screen and (min-width: 1024px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: $footer-bg-color;
        color: $white;
        padding-left: 10%;
        height: 1000px;
    }

    .footer__logo {
        padding-top: 6%;
        padding-bottom: 5%;
        justify-content: center;
        min-width: 100%;
    }

    .footer__catalog,
    .footer__partnership,
    .footer__aboutus,
    .footer__inn,
    .footer__request,
    .footer__button2,
    .footer__links,
    .footer__rs {
        width: 25%;
        min-width: 300px;
    }

    .button1 {
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 80px;
        border-style: none;
        -webkit-box-shadow: inset 15px 15px 15px $btn-bg1-color, 3px 3px 12px rgba(255, 255, 255, 0.1);
        box-shadow: inset 15px 15px 15px $btn-bg1-color, 3px 3px 12px rgba(255, 255, 255, 0.1);
        width: 80%;
        height: 76px;
        cursor: pointer;
        text-align: center;
    }

    .button2 {
        background: linear-gradient(to bottom, #E08E44, #77461A);
        border-radius: 80px;
        border-style: none;
        box-shadow: 0 4px 4px $btn-bg1-color;
        height: 76px;
        width: 80%;
        color: $white;
        font-size: 20px;
        line-height: 25px;
    }

    .LP__about_text-item1 {
        text-align: left;
    }

    .footer__aboutus-link {
        text-decoration: none;
        color: $white;
    }

    .footer__aboutus-link:hover {
        color: $white;
        text-shadow: 0 0 3px $white;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        display: flex;
        width: 100%;
        height: 1029px;
        background: -webkit-gradient(linear, right top, left top, color-stop(23.57%, #252525), color-stop(82.29%, rgba(37, 37, 37, 0)));
        background: linear-gradient(270deg, #252525 23.57%, rgba(37, 37, 37, 0) 82.29%);
        background: -webkit-gradient(linear, right top, left top, color-stop(23.57%, #252525), color-stop(82.29%, #252525));
        background: linear-gradient(270deg, #252525 23.57%, #252525 82.29%);
    }

    .LP__about_text {
        width: 50%;
        margin: 100px 0px 0px 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin: 160px 150px 0px 100px;
    }

    .LP__about_text-title {
        font-family: $default-font;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 60px;
        color: $white;
        margin-bottom: 40px;
    }

    .LP__about_text-text {
        font-family: $default-font;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        padding-top: 5%;
    }

    .color:hover {
        cursor: pointer;
    }

    .container-fluid,
    .LP__about-us {
        display: none;
    }

    .footer__aboutus-link {
        text-decoration: none;
        color: $white;
    }

    .footer__aboutus-link:hover {
        color: $white;
        text-shadow: 0 0 3px $white;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        width: 100%;
        flex-grow: 1;
        text-align: center;
        flex-wrap: wrap;
        background-color: $footer-bg-color;
        color: $white;
        height: 100%;
        line-height: 50px;
    }

    .container-fluid,
    .LP__about-us {
        display: none;
    }

    .color,
    .footer__logo {
        display: none;
    }

    .footer__inn {
        display: none;
    }

    .footer__links {
        display: flex;
    }

    .button2 {
        background: linear-gradient(to bottom, #E08E44, #77461A);
        border-radius: 80px;
        border-style: none;
        -webkit-box-shadow: 0 4px 4px $btn-bg1-color;
        box-shadow: 0 4px 4px $btn-bg1-color;
        height: 76px;
        width: 60%;
        color: $white;
        font-size: 20px;
        cursor: pointer;
    }

    .footer__phone {
        font-size: 30px;
        padding-top: 20px;
        color: $text-color;
    }

    .footer__aboutus-link {
        text-decoration: none;
        color: $white;
    }

    .footer__aboutus-link:hover {
        color: $white;
        text-shadow: 0 0 3px $white;
    }
}

.price {
    font-family: $default-font;
    font-size: 36px;
    line-height: 34px;
    color: $text-color;
    position: absolute;
    left: 10%;
    top: 60%;
}

.latest__video-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.latest__video-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
}

.latest__video-overlay:hover {
    z-index: -1;
}

.latest__video {
    position: relative;
    left: 10%;
    width: 80%;
    min-width: 80%;
    box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.5);
}

.toster {
    width: 100%;
    height: 100%;
    min-width: 100%;
}

.toster:hover {
    display: none;
    z-index: -1;
}

@media screen and (min-width: 1024px) {
    .latest {
        background-color: $latest-bg-color;
        height: 1200px;
        color: $white;
        min-width: 100%;
    }

    .ellipse {
        position: absolute;
        left: 10%;
        top: 77%;
        width: 70px;
        height: 70px;
    }

    .polygon {
        position: absolute;
        left: 12%;
        top: 80%;
        width: 30px;
        height: 30px;
    }

    .latest {
        font-family: $default-font;
        font-size: 64px;
        line-height: 61px;
    }

    .latest__title {
        color: $white;
        text-align: center;
        font-size: 64px;
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .price {
        font-family: $default-font;
        font-size: 36px;
        line-height: 34px;
        color: $text-color;
        position: absolute;
        left: 10%;
        top: 60%;
    }

    .logo {
        position: absolute;
        left: 10%;
        top: 10%;
    }

    .latest__img-title {
        position: absolute;
        left: 10%;
        top: 40%;
        min-width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .ellipse {
        position: absolute;
        left: 10%;
        top: 77%;
        width: 50px;
        height: 50px;
    }

    .polygon {
        position: absolute;
        left: 12%;
        top: 80%;
        width: 20px;
        height: 20px;
    }

    .latest {
        font-family: $default-font;
        font-size: 64px;
        line-height: 61px;
    }

    .latest {
        background-color: $latest-bg-color;
        height: 160vh;
        color: $white;
        min-width: 100%;
    }

    .latest__img-title {
        position: absolute;
        font-size: 30px;
        left: 10%;
        top: 40%;
        min-width: 100%;
    }

    .latest__title {
        color: $white;
        text-align: center;
        font-size: 40px;
        padding-top: 30%;
        padding-bottom: 65px;
    }

    .price {
        font-family: $default-font;
        font-size: 20px;
        line-height: 34px;
        color: $text-color;
        position: absolute;
        left: 10%;
        top: 60%;
    }

    .logo {
        position: absolute;
        left: 10%;
        top: 10%;
    }
}

@media screen and (max-width: 767px) {

    .ellipse {
        position: absolute;
        left: 10%;
        top: 77%;
        width: 20px;
        height: 20px;
    }

    .latest {
        font-family: $default-font;
        font-size: 20px;
        line-height: 10px;
    }

    .latest {
        background-color: $latest-bg-color;
        height: 70vh;
        color: $white;
        min-width: 100%;
    }

    .latest__title {
        color: $white;
        text-align: center;
        font-size: 20px;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .price {
        font-family: $default-font;
        font-size: 20px;
        line-height: 34px;
        color: $text-color;
        position: absolute;
        left: 10%;
        top: 56%;
    }

    .logo {
        position: absolute;
        left: 10%;
        top: 10%;
        width: 5rem;
    }

    .latest__img-title {
        position: absolute;
        left: 10%;
        top: 40%;
        min-width: 100%;
    }

    .polygon {
        position: absolute;
        left: 12%;
        top: 80%;
        width: 10px;
        height: 10px;
    }
}

.footer {
    font-family:$default-font;
    font-size: 30px;
    line-height: 29px;
}

.button1:hover,
.button2:hover{
    box-shadow: $lightning;
}

.footer__button2 {
    padding-top: 50px;
}



.footer__inn .hover:hover,
.footer__catalog .hover:hover,
.footer__partnership .hover:hover,
.footer__aboutus .hover:hover {
    text-shadow: 0 0 3px $white;
}

.color__item:hover {
    color: $white;
}

.footer__links {
    padding-top: 5%;
    min-width: 300px;
}

@media screen and (min-width: 1024px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: $footer-bg-color;
        color: $white;
        padding-left: 10%;
        height: 1000px;
    }

    .footer__logo {
        padding-top: 6%;
        padding-bottom: 5%;
        justify-content: center;
        min-width: 100%;
    }

    .footer__catalog,
    .footer__partnership,
    .footer__aboutus,
    .footer__inn,
    .footer__request,
    .footer__button2,
    .footer__links,
    .footer__rs {
        width: 25%;
        min-width: 300px;
    }

    .button1 {
        background-color: $btn-bg1-color;
        border-radius: 80px;
        border-style: none;
        -webkit-box-shadow: inset 15px 15px 15px $btn-bg1-color, 3px 3px 12px rgba(255, 255, 255, 0.1);
        box-shadow: inset 15px 15px 15px $btn-bg1-color, 3px 3px 12px rgba(255, 255, 255, 0.1);
        width: 80%;
        height: 76px;
        cursor: pointer;
        text-align: center;
    }

    .button2 {
        background: linear-gradient(to bottom, #E08E44, #77461A);
        border-radius: 80px;
        border-style: none;
        -webkit-box-shadow: 0 4px 4px $btn-bg1-color;
        box-shadow: 0 4px 4px $btn-bg1-color;
        height: 76px;
        width: 80%;
        color: $white;
        font-size: 20px;
        cursor: pointer;
    }

    .footer__inn {
        color: $white;
    }

    .footer__phone {
        padding-top: 20px;
        color: $btn-bg1-color;
    }

    .color {
        font-family: $default-font;
        font-size: 20px;
        line-height: 40px;
        color: $text-color;
        font-size: 20px;
        padding-top: 5%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        flex-grow: 1;
        flex-wrap: wrap;
        background-color: $footer-bg-color;
        color: $white;
        height: 100%;
    }

    .footer__links {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 5%;
    }

    .button1 {
        background-color: $btn-bg1-color;
        border-radius: 80px;
        border-style: none;
        -webkit-box-shadow: inset 15px 15px 15px $btn-bg1-color, 3px 3px 12px rgba(255, 255, 255, 0.1);
        box-shadow: inset 15px 15px 15px $btn-bg1-color, 3px 3px 12px rgba(255, 255, 255, 0.1);
        width: 60%;
        height: 76px;
        cursor: pointer;
        text-align: center;
        font-size: 20px;
    }

    .button2 {
        background: linear-gradient(to bottom, #E08E44, #77461A);
        border-radius: 80px;
        border-style: none;
        -webkit-box-shadow: 0 4px 4px $btn-bg1-color;
        box-shadow: 0 4px 4px $btn-bg1-color;
        height: 76px;
        width: 60%;
        color: $white;
        font-size: 20px;
        cursor: pointer;
    }

    .footer__phone {
        padding-top: 20px;
        color: $btn-bg1-color;
    }

    .footer__request {
        text-align: center;
    }

    .footer__inn {
        display: none;
    }

    .footer__rs {
        display: none;
    }

    .footer__phone {
        padding-top: 20px;
        color: $btn-bg1-color;
    }

    .footer__logo {
        padding-bottom: 5%;
        padding-top: 5%;
    }

    .color {
        font-family: $default-font;
        font-size: 20px;
        line-height: 40px;
        color: $text-color;
        font-size: 20px;
        padding-top: 5%;
    }

    .color:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        width: 100%;
        flex-grow: 1;
        text-align: center;
        flex-wrap: wrap;
        background-color: $footer-bg-color;
        color: $white;
        height: 100%;
        line-height: 50px;
    }

    .color,
    .footer__logo {
        display: none;
    }

    .footer__inn {
        display: none;
    }

    .footer__links {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 5%;
    }

    .footer__button2 {
        padding-bottom: 10%;
    }

    .button2 {
        width: 60%;
    }

    .footer__rs {
        display: none;
    }

    .button1 {
        background-color: $btn-bg1-color;
        border-radius: 80px;
        border-style: none;
        -webkit-box-shadow: inset 15px 15px 15px $btn-bg1-color, 3px 3px 12px $btn-bg2-color;
        box-shadow: inset 15px 15px 15px $btn-bg1-color, 3px 3px 12px $btn-bg2-color;
        width: 60%;
        height: 76px;
        cursor: pointer;
        text-align: center;
        font-size: 20px;
    }

    .button2 {
        background: linear-gradient(to bottom, #E08E44, #77461A);
        border-radius: 80px;
        border-style: none;
        -webkit-box-shadow: 0 4px 4px $btn-bg1-color;
        box-shadow: 0 4px 4px $btn-bg1-color;
        height: 76px;
        width: 60%;
        color: $white;
        font-size: 20px;
        cursor: pointer;
    }

    .footer__phone {
        font-size: 30px;
        padding-top: 20px;
        color: $btn-bg1-color;
    }
}

/*# sourceMappingURL=style.css.map */