@font-face {
    font-family: 'GothamPro';
    font-style: normal;
    font-weight: normal;
    src: url('../Fonts_Gotham\ Pro/GothamPro.woff2') format('woff2'),
        url('../Fonts_Gotham\ Pro/GothamPro.woff') format('woff'),
        url('../Fonts_Gotham\ Pro/GothamPro.ttf') format('ttf');
}

$default-font: 'GothamPro',
'Montserrat',
sans-serif;
$main-bg-color: #252525;
$main-text-color:#FFFFFF;
$lightning: #787878 0 0 0.375rem;

@media screen and (min-width: 1024px) {


    /*блок карусель начало*/
    .LP__about-us {
        width: 100%;
        height: 680px;
    }

    .container-fluid {
        width: 100%;
        height: 680px;
        max-width: 100%;
        background: linear-gradient(270deg, #252525 23.57%, rgba(37, 37, 37, 0) 82.29%);
        background: linear-gradient(270deg, #252525 23.57%, rgba(37, 37, 37, 1) 82.29%);
    }


    .carousel-item {
        width: 100%;
        height: 680px;
    }

    .LP__about_text-title {
        font-family: $default-font;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 60px;
        color: $main-text-color;
        margin-bottom: 40px;
    }

    .LP__about_text-text {
        font-family: $default-font;
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.6);
    }

    .LP__about_text-item1 {
        text-align: left;
    }

    /*блок карусель конец*/

    /*псевдокарусель начало*/
    .LP__about {
        display: flex;
        width: 100%;
        height: 1029px;
        background: linear-gradient(270deg, #252525 23.57%, rgba(37, 37, 37, 0) 82.29%);
        background: linear-gradient(270deg, #252525 23.57%, rgba(37, 37, 37, 1) 82.29%);

    }

    .LP__about_text {
        width: 50%;
        margin: 100px 0px 0px 0px;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-content: center;
        align-items: flex-start;
        margin: 160px 150px 0px 100px;

    }

    .LP__about_text-title {
        font-family: $default-font;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 60px;
        color: $main-text-color;
        margin-bottom: 40px;

    }

    .LP__about_text-text {
        font-family: $default-font;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.6);

    }

    .LP__about-nav {
        align-self: center;
        margin-right: 40px;
        margin-left: 40px;
    }

    .LP__about-img {
        height: 1029px;
        width: 50%;
        background: url(/bork/assets/LP/about-img.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
    }

    /*псевдокарусель конец*/
}

@media screen and (min-width: 280px) and (max-width: 1023px) {
    .LP__about-us {
        width: 100%;
        height: 680px;
        display: none;
    }

    .container-fluid {
        width: 100%;
        height: 680px;
        max-width: 100%;
        background: linear-gradient(270deg, #252525 23.57%, rgba(37, 37, 37, 0) 82.29%);
        background: linear-gradient(270deg, #252525 23.57%, rgba(37, 37, 37, 1) 82.29%);
        display: none;
    }


    .carousel-item {
        width: 100%;
        height: 680px;
        display: none;
    }

    .LP__about_text-title {
        font-family: $default-font;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 60px;
        color: $main-text-color;
        margin-bottom: 40px;
        display: none;
    }

    .LP__about_text-text {
        font-family: $default-font;
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.6);
        display: none;
    }

    .LP__about_text-item1 {
        text-align: left;
        display: none;
    }

    /*блок карусель конец*/

    /*псевдокарусель начало
    .LP__about {
        display: flex;
        width: 100%;
        height: 1029px;
        background: linear-gradient(270deg, #252525 23.57%, rgba(37, 37, 37, 0) 82.29%);
        background: linear-gradient(270deg, #252525 23.57%, rgba(37, 37, 37, 1) 82.29%);

    }

    .LP__about_text {
        width: 50%;
        margin: 100px 0px 0px 0px;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-content: center;
        align-items: flex-start;
        margin: 160px 150px 0px 100px;

    }

    .LP__about_text-title {
        font-family: $default-font;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 60px;
        color: $main-text-color;
        margin-bottom: 40px;

    }

    .LP__about_text-text {
        font-family: $default-font;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.6);

    }

    .LP__about-nav {
        align-self: center;
        margin-right: 40px;
        margin-left: 40px;
    }

    .LP__about-img {
        height: 1029px;
        width: 50%;
        background: url(/bork/assets/LP/about-img.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
    }*/
}