$default-font: 'GothamPro',
'Montserrat',
sans-serif;
$main-bg-color: #252525;
$main-text-color:#FFFFFF;
$lightning: #787878 0 0 0.375rem;
$white: #FFFFFF;
$text-color: rgba(255, 255, 255, 0.4);
$btn-bg2-color: rgba(255, 255, 255, 0.1);
$latest-bg-color: #141313;
$footer-bg-color: #252525;
$btn-bg1-color: rgba(0, 0, 0, 0.25);
$lightning: #787878 0 0 0.375rem;
$blackabout: rgba(0, 0, 0, 1);
$whiteabout: white;
$blackbg:rgba(37, 37, 37, 1);
$orangabout:rgb(129, 78, 33);
$whitebg:rgba(255, 255, 255, 0.8);
$black: #000000;
$blackcatalog: rgba(0, 0, 0, 1);
$blackcatalogbg:rgba(37, 37, 37, 1);
$orangcatalog:rgb(129, 78, 33);
$whitecatalogbg:rgba(255, 255, 255, 0.7);