@font-face {
  font-family: 'Gotham Pro';
  src: url(../assets/GothamPro-Medium.ttf);
}

.cart__wrapper {
  background-color: #E5E5E5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart {
  width: 100%;
  height: 1200px;
  background-color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.cart__application {
  width: 45%;
}

.cart__application p {
  font-family: "Gotham Pro", "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  color: #FFFFFF;
  margin: 100px 0px 0px 120px;
}

.cart__application-input-name {
  width: 330px;
  height: 80px;
  background: #0F0F0F;
  -webkit-box-shadow: 3px 3px 12px rgba(255, 255, 255, 0.1), inset 15px 15px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 12px rgba(255, 255, 255, 0.1), inset 15px 15px 15px rgba(0, 0, 0, 0.5);
  border-radius: 80px;
  border: none;
  margin: 60px 0px 0px 120px;
  padding-left: 60px;
}

.cart__application-input-name:hover {
  -webkit-box-shadow: #787878 0 0 0.375rem;
          box-shadow: #787878 0 0 0.375rem;
}

.cart__application-input-name:focus {
  color: #FFFFFF;
}

.cart__application-input-phone {
  width: 330px;
  height: 80px;
  background: #0F0F0F;
  -webkit-box-shadow: 3px 3px 12px rgba(255, 255, 255, 0.1), inset 15px 15px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 12px rgba(255, 255, 255, 0.1), inset 15px 15px 15px rgba(0, 0, 0, 0.5);
  border-radius: 80px;
  border: none;
  margin: 30px 0px 0px 120px;
  padding-left: 60px;
}

.cart__application-input-phone:hover {
  -webkit-box-shadow: #787878 0 0 0.375rem;
          box-shadow: #787878 0 0 0.375rem;
}

.cart__application-input-phone:focus {
  color: #FFFFFF;
}

.cart__application-input-email {
  width: 330px;
  height: 80px;
  background: #0F0F0F;
  -webkit-box-shadow: 3px 3px 12px rgba(255, 255, 255, 0.1), inset 15px 15px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 12px rgba(255, 255, 255, 0.1), inset 15px 15px 15px rgba(0, 0, 0, 0.5);
  border-radius: 80px;
  border: none;
  margin: 30px 0px 0px 120px;
  padding-left: 60px;
}

.cart__application-input-email:hover {
  -webkit-box-shadow: #787878 0 0 0.375rem;
          box-shadow: #787878 0 0 0.375rem;
}

.cart__application-input-email:focus {
  color: #FFFFFF;
}

.cart__application-input-address {
  width: 330px;
  height: 80px;
  background: #0F0F0F;
  -webkit-box-shadow: 3px 3px 12px rgba(255, 255, 255, 0.1), inset 15px 15px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 12px rgba(255, 255, 255, 0.1), inset 15px 15px 15px rgba(0, 0, 0, 0.5);
  border-radius: 80px;
  border: none;
  margin: 30px 0px 0px 120px;
  padding-left: 60px;
}

.cart__application-input-address:hover {
  -webkit-box-shadow: #787878 0 0 0.375rem;
          box-shadow: #787878 0 0 0.375rem;
}

.cart__application-input-address:focus {
  color: #FFFFFF;
}

.cart__application-payment-title {
  font-family: "Gotham Pro", "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  color: #FFFFFF;
  margin: 50px 0px 0px 120px;
}

.cart__application-payment form {
  font-family: "Gotham Pro", "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 5px;
  color: #FFFFFF;
  margin: 15px 0px 0px 110px;
}

input {
  margin: 0px 10px 0px 10px;
}

input:hover {
  -webkit-box-shadow: #787878 0 0 0.375rem;
          box-shadow: #787878 0 0 0.375rem;
}

.cart__application-input-promocode {
  width: 330px;
  height: 80px;
  background: #0F0F0F;
  -webkit-box-shadow: 3px 3px 12px rgba(255, 255, 255, 0.1), inset 15px 15px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 12px rgba(255, 255, 255, 0.1), inset 15px 15px 15px rgba(0, 0, 0, 0.5);
  border-radius: 80px;
  border: none;
  margin: 50px 0px 0px 120px;
  padding-left: 60px;
}

.cart__application-input-promocode:hover {
  -webkit-box-shadow: #787878 0 0 0.375rem;
          box-shadow: #787878 0 0 0.375rem;
}

.cart__application-input-promocode:focus {
  color: #FFFFFF;
}

.submit {
  width: 200px;
  height: 70px;
  background: -webkit-gradient(linear, left top, left bottom, from(#D1843E), to(#77461A));
  background: linear-gradient(180deg, #D1843E 0%, #77461A 100%);
  border-radius: 80px;
  border: none;
  margin: 50px 0px 0px 120px;
  font-family: "Gotham Pro", "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 29px;
  color: #FFFFFF;
  text-align: center;
}

.submit:hover {
  -webkit-box-shadow: #787878 0 0 0.375rem;
          box-shadow: #787878 0 0 0.375rem;
}

.cart__order {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cart__order-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Gotham Pro", "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  color: #FFFFFF;
  margin: 100px 0px 0px 0px;
}

.cart__order-border {
  width: 700px;
  height: 800px;
  background: #0F0F0F;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 40px 40px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 40px 40px 30px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  margin: 40px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cart__order-item1,
.cart__order-item2,
.cart__order-item3,
.cart__order-item4 {
  width: 500px;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.cart__order-description {
  width: 200px;
  height: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin: 0 auto;
}

.cart__order-description-title,
.cart__order-total-text,
.cart__order-total-sum {
  font-family: "Gotham Pro", "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 35px;
  color: #FFFFFF;
}

.cart__order-description-input {
  font-family: "Gotham Pro", "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
}

.cart__order-description-input-amount {
  width: 70px;
  height: 30px;
  background: #252525;
  border-radius: 20px;
  border: none;
  padding-left: 15px;
  margin: 10px;
}

.cart__order-description-price {
  font-family: "Gotham Pro", "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.3);
  margin-top: 15px;
}

.cart__order-img {
  width: 220px;
  height: 136px;
  background: #252525;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.massager-for-eyes {
  background-image: url(../assets/cart/massager-for-eyes.svg);
}

.plaid {
  background-image: url(../assets/cart/plaid.svg);
}

.teapot {
  background-image: url(../assets/cart/teapot.svg);
}

.massager-for-neck {
  background-image: url(../assets/cart/massager-for-neck.svg);
}

.cart__order-img:hover {
  -webkit-box-shadow: #787878 0 0 0.375rem;
          box-shadow: #787878 0 0 0.375rem;
}

.cart__order-description-input-amount:focus {
  color: #FFFFFF;
}

.cart__order-total {
  width: 500px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  color: #FFFFFF;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px 0px 0px 0px;
}
/*# sourceMappingURL=style.css.map */