$blackcatalog: rgba(0, 0, 0, 1);
$blackcatalogbg:rgba(37, 37, 37, 1);
$orangcatalog:rgb(129, 78, 33);
$whitecatalogbg:rgba(255, 255, 255, 0.7);
$main-text-color:#FFFFFF;
$default-font: 'GothamPro',
'Montserrat',
sans-serif;

@font-face {
    font-family: 'GothamPro';
    font-style: normal;
    font-weight: normal;
    src: url('../Fonts_Gotham\ Pro/GothamPro.woff2') format('woff2'),
        url('../Fonts_Gotham\ Pro/GothamPro.woff') format('woff'),
        url('../Fonts_Gotham\ Pro/GothamPro.ttf') format('ttf');
}








@media screen and (max-width: 900px) {
    button.btn-rounded {
        padding-left: 10px;
        padding-right: 30px;
    }
}

@media all and (max-width: 700px) {
    .tuk {
        margin-left: -50px;
        margin-right: -50px;
    }

    .card-link_color {
        font-size: 10px;
        line-height: 14px;

    }
}



.wrapper-header {
    max-width: 100%;
    margin: auto;
    background-color: $blackcatalog;
}

.textpro {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 62px;
    color: $main-text-color;
}

.textcard {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: $main-text-color;
}

.textcard_into {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $main-text-color;
}

.btn-rounded {
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 150px;
    background-color: $blackcatalogbg;
    color: $main-text-color;
}

.plus_bg {

    background-color: $orangcatalog;
    border-radius: 20px;
    color: $main-text-color;
}

.card-color {
    background-color: $blackcatalogbg;
    border-radius: 10px;
    height: 300px;

}


.card-color:hover {
    background-color: $main-text-color;

}

.card-bgcolor {
    background-color: $blackcatalog;
}

.text_align {
    text-align: start;
}

.point {
    width: 40px;
    height: 10px;
}

.card-link_color {
    color: $whitecatalogbg;
    text-decoration-line: none
}