/*HEADER

.header {
  display: flex;
  justify-content: center;
}

.header__text {
  font-family: 'Gotham Pro';
  font-size: 20px;
  line-height: 19px;
  color: #FFFFFF;
}

.header__text-aboutus:hover,
.header__text-contacts:hover,
.header__text-partnership:hover,
.text:hover,
.dropdown-item:hover {
  cursor: pointer;
  text-shadow: 0 0 5px #FFFFFF;
}

.catalog {
  display: flex;
  padding-top: 3%;
}

.button {
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 1024px) {
.header__text {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    flex-grow: 1;
    width: 50%;
    margin-bottom: 5%;
    top: 7%;
    color: #FFFFFF;
  }

  .text {
    padding-top: 12px;
  }

  .dropdown {
    padding-top: 10px;
  }

  .header__logo {
    position: absolute;
    left: 10%;
    top: 8%;
  }

  .header__basket {
    position: absolute;
    right: 10%;
    top: 8%;
    width: 40px;
    height: 40px;
  }

  .basket {
    position: absolute;
    right: 0;
    top: 0;
  }

  .header__ellipse2 {
    position: absolute;
    right: 0;
    top: 0;
  }

  .header__four {
    position: absolute;
    right: 3px;
    top: 0;
    color: white;
    font-size: 10px;
  }

  .header__ellipse2 {
    position: absolute;
  }

  .header__text-aboutus,
  .header__text-contacts,
  .header__text-catalog,
  .header__text-partnership {
    padding-inline: 20px;
  }
  .header__iphone {
    display: none;
  }
}

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .header__text {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    flex-grow: 1;
    width: 50%;
    top: 5%;
    color: #FFFFFF;
  }

  .text {
    padding-top: 5px;
  }

  .dropdown {
    padding-top: 2px;
  }

  .header__text-aboutus,
  .header__text-contacts,
  .header__text-catalog,
  .header__text-partnership {
    padding-inline: 20px;
    min-width: 100%;
    text-align: center;
    line-height: 30px;
  }

  .catalog {
    justify-content: center;
    width: 100%;
  }

  .header__logo {
    position: absolute;
    left: 10%;
    top: 5%;
  }


  .header__basket {
    position: absolute;
    right: 10%;
    top: 5%;
    top: 8%;
    width: 40px;
    height: 40px;
  }

  .basket {
    position: absolute;
    right: 0;
    top: 0;
  }

  .header__ellipse2 {
    position: absolute;
    right: 0;
    top: 0;
  }

  .header__four {
    position: absolute;
    right: 3px;
    top: 0;
    color: white;
    font-size: 10px;
  }

  .header__ellipse2 {
    position: absolute;
  }

  .header__iphone {
    display: none;
  }
  }
@media screen and (max-width: 767px) {
  .header__logo {
    display: none;
  }

  .header__basket,
  .header__ellipse2,
  .header__four {
    display: none;
  }

  .header__text {
    display: none;
  }

  .header__iphone {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .time {
    width: 80%;
    padding-left: 5%;
    color: white;
  }
}

*/



/*LATEST
.price {
  font-family: Gotham Pro;
  font-size: 36px;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 10%;
  top: 60%;
}

.latest__video-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.latest__video-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
}

.latest__video-overlay:hover {
  z-index: -1;
}

.latest__video {
  position: relative;
  left: 10%;
  width: 80%;
  min-width: 80%;
  box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.5);
}

.toster {
  width: 100%;
  height: 100%;
  min-width: 100%;
}

.toster:hover {
  display: none;
  z-index: -1;
}

@media screen and (min-width: 1024px) {
  .latest {
    background-color: #141313;
    height: 1200px;
    color: #FFFFFF;
    min-width: 100%;
  }
.ellipse {
    position: absolute;
    left: 10%;
    top: 77%;
    width: 70px;
    height: 70px;
  }

  .polygon {
    position: absolute;
    left: 12%;
    top: 80%;
    width: 30px;
    height: 30px;
  }

  .latest {
    font-family: Gotham Pro;
    font-size: 64px;
    line-height: 61px;
  }

  .latest__title {
    color: #FFFFFF;
    text-align: center;
    font-size: 64px;
    padding-top: 10%;
    padding-bottom: 5%;
  }

  .price {
    font-family: 'Gotham Pro';
    font-size: 36px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 10%;
    top: 60%;
  }

  .logo {
    position: absolute;
    left: 10%;
    top: 10%;
  }

  .latest__img-title {
    position: absolute;
    left: 10%;
    top: 40%;
    min-width: 100%;
  }
}
  @media screen and (min-width: 768px) and (max-width: 1023px) {
  .ellipse {
    position: absolute;
    left: 10%;
    top: 77%;
    width: 50px;
    height: 50px;
  }

  .polygon {
    position: absolute;
    left: 12%;
    top: 80%;
    width: 20px;
    height: 20px;
  }

  .latest {
    font-family: Gotham Pro;
    font-size: 64px;
    line-height: 61px;
  }

  .latest {
    background-color: #141313;
    height: 160vh;
    color: #FFFFFF;
    min-width: 100%;
  }

  .latest__img-title {
    position: absolute;
    font-size: 30px;
    left: 10%;
    top: 40%;
    min-width: 100%;
  }

  .latest__title {
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    padding-top: 30%;
    padding-bottom: 65px;
  }

  .price {
    font-family: Gotham Pro;
    font-size: 20px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 10%;
    top: 60%;
  }

  .logo {
    position: absolute;
    left: 10%;
    top: 10%;
  }
  }
@media screen and (max-width: 767px) {

  .ellipse {
    position: absolute;
    left: 10%;
    top: 77%;
    width: 20px;
    height: 20px;
  }

  .latest {
    font-family: Gotham Pro;
    font-size: 20px;
    line-height: 10px;
  }

  .latest {
    background-color: #141313;
    height: 70vh;
    color: #FFFFFF;
    min-width: 100%;
  }

  .latest__title {
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .price {
    font-family: Gotham Pro;
    font-size: 20px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 10%;
    top: 56%;
  }

  .logo {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 5rem;
  }

  .latest__img-title {
    position: absolute;
    left: 10%;
    top: 40%;
    min-width: 100%;
  }

  .polygon {
    position: absolute;
    left: 12%;
    top: 80%;
    width: 10px;
    height: 10px;
  }
}

*/




/*FOOTER

.footer {
  font-family: Gotham Pro;
  font-size: 30px;
  line-height: 29px;
}

.button1:hover {
  background-color: #252525;
}

.footer__button2 {
  padding-top: 50px;
}

.button2:hover {
  background: linear-gradient(to bottom, #dda06b 0%, #8d6039 100%);
}


.footer__inn .hover:hover,
.footer__catalog .hover:hover,
.footer__partnership .hover:hover,
.footer__aboutus .hover:hover {
  text-shadow: 0 0 3px #FFFFFF;
}

.color__item:hover {
  color: white;
}

.footer__links {
  padding-top: 5%;
  min-width: 300px;
}
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #252525;
    color: #FFFFFF;
    padding-left: 10%;
    height: 1000px;
  }
  .footer__logo {
    padding-top: 6%;
    padding-bottom: 5%;
    justify-content: center;
    min-width: 100%;
  }
  
  .footer__catalog,
  .footer__partnership,
  .footer__aboutus,
  .footer__inn,
  .footer__request,
  .footer__button2,
  .footer__links,
  .footer__rs {
    width: 25%;
    min-width: 300px;
  }

  .button1 {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    border-style: none;
    -webkit-box-shadow: inset 15px 15px 15px rgba(0, 0, 0, 0.25), 3px 3px 12px rgba(255, 255, 255, 0.1);
    box-shadow: inset 15px 15px 15px rgba(0, 0, 0, 0.25), 3px 3px 12px rgba(255, 255, 255, 0.1);
    width: 80%;
    height: 76px;
    cursor: pointer;
    text-align: center;
  }

  .button2 {
    background: linear-gradient(to bottom, #E08E44, #77461A);
    border-radius: 80px;
    border-style: none;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 76px;
    width: 80%;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
  }

  .footer__inn {
    color: #FFFFFF;
  }

  .footer__phone {
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.25);
  }

  .color {
    font-family: Gotham Pro;
    font-size: 20px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
    padding-top: 5%;
  }
}

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    background-color: #252525;
    color: #FFFFFF;
    height: 100%;
  }

  .footer__links {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5%;
  }

  .button1 {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    border-style: none;
    -webkit-box-shadow: inset 15px 15px 15px rgba(0, 0, 0, 0.25), 3px 3px 12px rgba(255, 255, 255, 0.1);
    box-shadow: inset 15px 15px 15px rgba(0, 0, 0, 0.25), 3px 3px 12px rgba(255, 255, 255, 0.1);
    width: 60%;
    height: 76px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
  }

  .button2 {
    background: linear-gradient(to bottom, #E08E44, #77461A);
    border-radius: 80px;
    border-style: none;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 76px;
    width: 60%;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
  }

  .footer__phone {
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.25);
  }

  .footer__request {
    text-align: center;
  }

  .footer__inn {
    display: none;
  }

  .footer__rs {
    display: none;
  }

  .footer__phone {
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.25);
  }

  .footer__logo {
    padding-bottom: 5%;
    padding-top: 5%;
  }

  .color {
    font-family: Gotham Pro;
    font-size: 20px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
    padding-top: 5%;
  }

  .color:hover {
    cursor: pointer;
  }
  }

  @media screen and (max-width: 767px) {
    .footer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    text-align: center;
    flex-wrap: wrap;
    background-color: #252525;
    color: #FFFFFF;
    height: 100%;
    line-height: 50px;
  }

  .color,
  .footer__logo {
    display: none;
  }

  .footer__inn {
    display: none;
  }

  .footer__links {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5%;
  }

  .footer__button2 {
    padding-bottom: 10%;
  }

  .button2 {
    width: 60%;
  }

  .footer__rs {
    display: none;
  }

  .button1 {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    border-style: none;
    -webkit-box-shadow: inset 15px 15px 15px rgba(0, 0, 0, 0.25), 3px 3px 12px rgba(255, 255, 255, 0.1);
    box-shadow: inset 15px 15px 15px rgba(0, 0, 0, 0.25), 3px 3px 12px rgba(255, 255, 255, 0.1);
    width: 60%;
    height: 76px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
  }

  .button2 {
    background: linear-gradient(to bottom, #E08E44, #77461A);
    border-radius: 80px;
    border-style: none;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 76px;
    width: 60%;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
  }

  .footer__phone {
    font-size: 30px;
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.25);
  }
  }

*/

.aircleaner {
  display: flex;
  justify-content: center;
}
.aircleaner__img {
  width: 100%;

}
.aircleaner__buttons-button1:hover,
.aircleaner__buttons-button2:hover {
  -webkit-box-shadow: #787878 0 0 0.375rem;
          box-shadow: #787878 0 0 0.375rem;
}
@media screen and (min-width: 1024px) {
  .aircleaner__title {
    position: absolute;
    top: 26%;
    left:10%;
    color: white;
    z-index: 2;
    font-family: Gotham Pro;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 61px;
width: 700px;
  }
  .aircleaner__description {
    position: absolute;
    color: white;
    top:40%;
    left: 10%;
    width: 500px;
    font-size: 20px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.4);
  }
  .aircleaner__buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 700px;
    top:60%;
    left: 10%;
  }
  .aircleaner__buttons-button1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#E39045), to(#754519));
  background: linear-gradient(180deg, #E39045 0%, #754519 100%);
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  color: white;
  height: 80px;
  border-radius: 50px;
  width: 280px;
}

.aircleaner__buttons-button2 {
  background: transparent;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 80px;
  border-radius: 50px;
  width: 280px;
}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .aircleaner__title {
    position: absolute;
    top: 26%;
    left:10%;
    color: white;
    z-index: 2;
    font-family: Gotham Pro;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
width: 400px;
  }
  .aircleaner__description {
    position: absolute;
    color: white;
    top:36%;
    left: 10%;
    width: 300px;
    line-height: 16px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
  }
  .aircleaner__buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 400px;
    top:50%;
    left: 10%;
  }
  .aircleaner__buttons-button1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#E39045), to(#754519));
  background: linear-gradient(180deg, #E39045 0%, #754519 100%);
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  color: white;
  height: 50px;
  border-radius: 50px;
  width: 160px;
}

.aircleaner__buttons-button2 {
  background: transparent;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  border-radius: 50px;
  width: 160px;
}
}


@media screen and (min-width:630px) and (max-width: 767px) {
  .aircleaner {
    
    min-width: 100%;
  }
  
  .aircleaner__title {
    position: absolute;
    top:10%;
    left:10%;
    color: white;
    z-index: 2;
    font-family: Gotham Pro;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 61px;
width: 200px;
min-width: 100%;
  }
  .aircleaner__description {
    position: absolute;
    color: white;
    top:20%;
    left: 10%;
    width: 40%;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.4);
  }
  .aircleaner__buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top:40%;
    left: 10%;
    width:220px;
  }
  .aircleaner__buttons-button1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#E39045), to(#754519));
  background: linear-gradient(180deg, #E39045 0%, #754519 100%);
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  color: white;
  
  border-radius: 50px;
  width: 80px;
  height: 30px;

}

.aircleaner__buttons-button2 {
  background: transparent;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
  border-radius: 50px;
  width: 80px;
  height: 30px;

}
}
  
@media screen and (max-width:630px) {
  .aircleaner  {
    
    display: none;
  }
  
}







.header {
  display: flex;
  justify-content: center;
}

.header__text {
  font-family: 'Gotham Pro';
  font-size: 20px;
  line-height: 19px;
  color: #FFFFFF;
}

.header__text-aboutus:hover,
.header__text-contacts:hover,
.header__text-partnership:hover,
.text:hover,
.dropdown-item:hover {
  cursor: pointer;
  text-shadow: 0 0 5px #FFFFFF;
}

.catalog {
  display: flex;
  padding-top: 3%;
}

.button {
  border: none;
  background-color: transparent;
}

.footer {
  font-family: Gotham Pro;
  font-size: 30px;
  line-height: 29px;
}

.button1:hover {
  box-shadow: #787878 0 0 0.375rem;
}

.footer__button2 {
  padding-top: 50px;
}

.button2:hover {
  box-shadow: #787878 0 0 0.375rem;
}

.price {
  font-family: Gotham Pro;
  font-size: 36px;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 10%;
  top: 60%;
}

.latest__video-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.latest__video-video:hover {
  z-index: 2;
}
.latest__video-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
}

.latest__video-overlay:hover {
  z-index: -1;
}

.latest__video {
  margin-top: 50px;
  position: relative;
  left: 10%;
  width: 80%;
  min-width: 80%;
  box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.5);
}

.toster {
  width: 100%;
  height: 100%;
  min-width: 100%;
}

.toster:hover {
  display: none;
  z-index: -1;
}

.footer__inn .hover:hover,
.footer__catalog .hover:hover,
.footer__partnership .hover:hover,
.footer__aboutus .hover:hover {
  text-shadow: 0 0 3px #FFFFFF;
}

.color__item:hover {
  color: white;
}

.footer__links {
  padding-top: 5%;
  min-width: 300px;
}

@media screen and (min-width: 1024px) {
  .header__text {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    flex-grow: 1;
    width: 50%;
    margin-bottom: 5%;
    top: 7%;
    color: #FFFFFF;
  }
  
  
  .text {
    padding-top: 12px;
  }

  .dropdown {
    padding-top: 10px;
  }

  .header__logo {
    position: absolute;
    left: 10%;
    top: 8%;
  }

  .header__basket {
    position: absolute;
    right: 10%;
    top: 8%;
    width: 40px;
    height: 40px;
  }

  .basket {
    position: absolute;
    right: 0;
    top: 0;
  }

  .header__ellipse2 {
    position: absolute;
    right: 0;
    top: 0;
  }

  .header__four {
    position: absolute;
    right: 3px;
    top: 0;
    color: white;
    font-size: 10px;
  }

  .header__ellipse2 {
    position: absolute;
  }

  .header__text-aboutus,
  .header__text-contacts,
  .header__text-catalog,
  .header__text-partnership {
    padding-inline: 20px;
  }

  .latest {
    background-color: #141313;
    height: 1200px;
    color: #FFFFFF;
    min-width: 100%;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #252525;
    color: #FFFFFF;
    padding-left: 10%;
    height: 1000px;
  }

  .header__iphone {
    display: none;
  }

  .footer__logo {
    padding-top: 6%;
    padding-bottom: 5%;
    justify-content: center;
    min-width: 100%;
  }

  .ellipse {
    position: absolute;
    left: 10%;
    top: 77%;
    width: 70px;
    height: 70px;
  }

  .polygon {
    position: absolute;
    left: 12%;
    top: 80%;
    width: 30px;
    height: 30px;
  }

  .latest {
    font-family: Gotham Pro;
    font-size: 64px;
    line-height: 61px;
  }

  .latest__title {
    color: #FFFFFF;
    text-align: center;
    font-size: 64px;
    padding-top: 10%;
    padding-bottom: 5%;
  }

  .price {
    font-family: 'Gotham Pro';
    font-size: 36px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 10%;
    top: 60%;
  }

  .logo {
    position: absolute;
    left: 10%;
    top: 10%;
  }

  .latest__img-title {
    position: absolute;
    left: 10%;
    top: 40%;
    min-width: 100%;
  }

  .footer__catalog,
  .footer__partnership,
  .footer__aboutus,
  .footer__inn,
  .footer__request,
  .footer__button2,
  .footer__links,
  .footer__rs {
    width: 25%;
    min-width: 300px;
  }

  .button1 {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    border-style: none;
    -webkit-box-shadow: inset 15px 15px 15px rgba(0, 0, 0, 0.25), 3px 3px 12px rgba(255, 255, 255, 0.1);
    box-shadow: inset 15px 15px 15px rgba(0, 0, 0, 0.25), 3px 3px 12px rgba(255, 255, 255, 0.1);
    width: 80%;
    height: 76px;
    cursor: pointer;
    text-align: center;
  }

  .button2 {
    background: linear-gradient(to bottom, #E08E44, #77461A);
    border-radius: 80px;
    border-style: none;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 76px;
    width: 80%;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
  }

  .footer__inn {
    color: #FFFFFF;
  }

  .footer__phone {
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.25);
  }

  .color {
    font-family: Gotham Pro;
    font-size: 20px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
    padding-top: 5%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__text {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    flex-grow: 1;
    width: 50%;
    top: 5%;
    color: #FFFFFF;
  }

  .text {
    padding-top: 5px;
  }

  .dropdown {
    padding-top: 2px;
  }

  .header__text-aboutus,
  .header__text-contacts,
  .header__text-catalog,
  .header__text-partnership {
    padding-inline: 20px;
    min-width: 100%;
    text-align: center;
    line-height: 30px;
  }

  .catalog {
    justify-content: center;
    width: 100%;
  }

  .header__logo {
    position: absolute;
    left: 10%;
    top: 8%;
  }


  .header__basket {
    position: absolute;
    right: 10%;
    top: 5%;
    top: 8%;
    width: 40px;
    height: 40px;
  }

  .basket {
    position: absolute;
    right: 0;
    top: 0;
  }

  .header__ellipse2 {
    position: absolute;
    right: 0;
    top: 0;
  }

  .header__four {
    position: absolute;
    right: 3px;
    top: 0;
    color: white;
    font-size: 10px;
  }

  .header__ellipse2 {
    position: absolute;
  }

  .header__iphone {
    display: none;
  }

  .ellipse {
    position: absolute;
    left: 10%;
    top: 77%;
    width: 50px;
    height: 50px;
  }

  .polygon {
    position: absolute;
    left: 12%;
    top: 80%;
    width: 20px;
    height: 20px;
  }

  .latest {
    font-family: Gotham Pro;
    font-size: 64px;
    line-height: 61px;
  }

  .latest {
    background-color: #141313;
    height: 160vh;
    color: #FFFFFF;
    min-width: 100%;
  }

  .latest__img-title {
    position: absolute;
    font-size: 30px;
    left: 10%;
    top: 40%;
    min-width: 100%;
  }

  .latest__title {
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    padding-top: 30%;
    padding-bottom: 65px;
  }

  .price {
    font-family: Gotham Pro;
    font-size: 20px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 10%;
    top: 60%;
  }

  .logo {
    position: absolute;
    left: 10%;
    top: 10%;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    background-color: #252525;
    color: #FFFFFF;
    height: 100%;
  }

  .footer__links {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5%;
  }

  .button1 {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    border-style: none;
    -webkit-box-shadow: inset 15px 15px 15px rgba(0, 0, 0, 0.25), 3px 3px 12px rgba(255, 255, 255, 0.1);
    box-shadow: inset 15px 15px 15px rgba(0, 0, 0, 0.25), 3px 3px 12px rgba(255, 255, 255, 0.1);
    width: 60%;
    height: 76px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
  }

  .button2 {
    background: linear-gradient(to bottom, #E08E44, #77461A);
    border-radius: 80px;
    border-style: none;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 76px;
    width: 60%;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
  }

  .footer__phone {
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.25);
  }

  .footer__request {
    text-align: center;
  }

  .footer__inn {
    display: none;
  }

  .footer__rs {
    display: none;
  }

  .footer__phone {
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.25);
  }

  .footer__logo {
    padding-bottom: 5%;
    padding-top: 5%;
  }

  .color {
    font-family: Gotham Pro;
    font-size: 20px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
    padding-top: 5%;
  }

  .color:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    display: none;
  }

  .header__basket,
  .header__ellipse2,
  .header__four {
    display: none;
  }

  .header__text {
    display: none;
  }

  .header__iphone {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .time {
    position: absolute;
    width: 80%;
    padding-left: 5%;
    color: white;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    text-align: center;
    flex-wrap: wrap;
    background-color: #252525;
    color: #FFFFFF;
    height: 100%;
    line-height: 50px;
  }

  .color,
  .footer__logo {
    display: none;
  }

  .footer__inn {
    display: none;
  }

  .footer__links {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5%;
  }

  .footer__button2 {
    padding-bottom: 10%;
  }

  .button2 {
    width: 60%;
  }

  .footer__rs {
    display: none;
  }

  .button1 {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    border-style: none;
    -webkit-box-shadow: inset 15px 15px 15px rgba(0, 0, 0, 0.25), 3px 3px 12px rgba(255, 255, 255, 0.1);
    box-shadow: inset 15px 15px 15px rgba(0, 0, 0, 0.25), 3px 3px 12px rgba(255, 255, 255, 0.1);
    width: 60%;
    height: 76px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
  }

  .button2 {
    background: linear-gradient(to bottom, #E08E44, #77461A);
    border-radius: 80px;
    border-style: none;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 76px;
    width: 60%;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
  }

  .footer__phone {
    font-size: 30px;
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.25);
  }

  .ellipse {
    position: absolute;
    left: 10%;
    top: 77%;
    width: 20px;
    height: 20px;
  }

  .latest {
    font-family: Gotham Pro;
    font-size: 20px;
    line-height: 10px;
  }

  .latest {
    background-color: #141313;
    height: 70vh;
    color: #FFFFFF;
    min-width: 100%;
  }

  .latest__title {
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .price {
    font-family: Gotham Pro;
    font-size: 20px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 10%;
    top: 56%;
  }

  .logo {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 5rem;
  }

  .latest__img-title {
    position: absolute;
    left: 10%;
    top: 40%;
    min-width: 100%;
  }

  .polygon {
    position: absolute;
    left: 12%;
    top: 80%;
    width: 10px;
    height: 10px;
  }
}









/*# sourceMappingURL=styles.css.map *




