.header {
  display: flex;
  justify-content: center;
}

.header__text {
  font-family: Gotham Pro;
  font-size: 20px;
  line-height: 19px;
  color: #FFFFFF;
}

.header__four {
  position: absolute;
  right: 104px;
  padding-top: 64px;
  color: white;
  font-size: 10px;
}

.header__ellipse2 {
  position: absolute;
  right: 100px;
  padding-top: 58px;
}

.header__four,
.header__ellipse2 {
  position: absolute;
}

.header__logo {
  position: absolute;
  left: 10%;
  top: 10%;
}

.header__text-aboutus:hover,
.header__text-contacts:hover,
.header__text-partnership:hover,
.text:hover {
  cursor: pointer;
  text-shadow: 0 0 5px #FFFFFF;
}

.img {
  width: 100%;
}

.catalog {
  display: flex;
}

.vector {
  padding-top: 10px;
}

.text {
  padding-top: 17px;
}

.dropdown {
  border-style: none;
  padding-bottom: 8px;
  cursor: pointer;
}

.dropdown:hover {
  text-decoration: none;
}

.header__text-basket {
  position: absolute;
  right: 100px;
  padding-top: 70px;
}

.latest {
  background-color: #141313;
  height: 160vh;
  color: #FFFFFF;
}

.latest__title {
  color: #FFFFFF;
  text-align: center;
  font-size: 64px;
  padding-top: 164px;
  padding-bottom: 65px;
}

.latest {
  font-family: Gotham Pro;
  font-size: 64px;
  line-height: 61px;
}

.footer {
  font-family: Gotham Pro;
  font-size: 30px;
  line-height: 29px;
}

.button1 {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 80px;
  border-style: none;
  -webkit-box-shadow: inset 15px 15px 15px rgba(0, 0, 0, 0.25), 3px 3px 12px rgba(255, 255, 255, 0.1);
  box-shadow: inset 15px 15px 15px rgba(0, 0, 0, 0.25), 3px 3px 12px rgba(255, 255, 255, 0.1);
  width: 80%;
  height: 76px;
  cursor: pointer;
  text-align: center;
}

.button1:hover {
  background-color: #252525;
}

.button2 {
  background: linear-gradient(to bottom, #E08E44, #77461A);
  border-radius: 80px;
  border-style: none;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 76px;
  width: 80%;
  color: #FFFFFF;
  font-size: 20px;
  cursor: pointer;
}

.footer__text-button2 {
  padding-top: 48px;
}

.button2:hover {
  background: linear-gradient(to bottom, #dda06b 0%, #8d6039 100%);
}

.price {
  font-family: Gotham Pro;
  font-size: 36px;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.4);
}


.video__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  z-index: -1;
}
.video__overlay:hover {
  z-index: -1;
  display: none;
}
.video {
  position: relative;
  left: 10%;
  width: 80%;
  height: 80vh;
  min-width: 80%;
}
.toster {
  width: 100%;
  height: 100%;
  border: 1px solid yellow;
  min-width: 100%;
}
.toster:hover {
  display: none;
  z-index: -1;
}
.latest__img-ellipse:hover,
.latest__img-logo:hover,
.latest__img-price:hover,
.latest__img-title:hover,
.latest__img-polygon:hover {
  opacity: 0;
}
.latest__img-logo {
  position: absolute;
  left: 10%;
  top: 10%;
  min-width: 100%;
}

.latest__img-title {
  position: absolute;
  left: 10%;
  top: 40%;
  font-size: 64px;
  min-width: 100%;
}

.latest__img-price {
  position: absolute;
  left: 10%;
  top: 60%;
  font-size: 36px;
  min-width: 100%;
}

.latest__img-ellipse {
  position: absolute;
  left: 10%;
  top: 73%;
  width: 100%;
  min-width: 100%;
  cursor: pointer;
}

.latest__img-polygon {
  position: absolute;
  left: 13%;
  top: 76%;
  width: 100%;
  min-width: 100%;
  cursor: pointer;
}


@media screen and (min-width: 1024px) {
  .header__text {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    flex-grow: 1;
    width: 50%;
    top: 70px;
    color: #FFFFFF;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #252525;
    color: #FFFFFF;
    padding-left: 10%;
    height: 1000px;
  }

  .header__iphone {
    display: none;
  }

  .footer__logo {
    padding-top: 6%;
    padding-bottom: 5%;
    justify-content: center;
    min-width: 100%;
  }


  .footer__text-catalog,
  .footer__text-partnership,
  .footer__text-aboutus,
  .footer__text-inn,
  .footer__text-request,
  .footer__text-button2,
  .footer__links,
  .footer__text-rs {
    width: 25%;
    min-width: 300px;
  }

  .footer__text-inn {
    color: #FFFFFF;
  }

  .footer__text-phone {
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.25);
  }

  .footer__links {
    padding-top: 5%;
    padding-left: 5%;
    min-width: 300px;
  }


  .color {
    font-family: Gotham Pro;
    font-size: 20px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
    padding-top: 5%;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__text {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    flex-grow: 1;
    width: 50%;
    top: 70px;
    color: #FFFFFF;
  }

  .header__iphone {
    display: none;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    background-color: #252525;
    color: #FFFFFF;
    height: 100%;
  }

  .footer__links {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5%;
  }

  .button2 {
    width: 25%;
    min-width: 300px;
  }

  .footer__text-button2 {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
  }

  .footer__text-request {
    text-align: center;
  }

  .footer__text-inn {
    display: none;
  }

  .footer__text-rs {
    display: none;
  }

  .footer__text-phone {
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.25);
  }

  .footer__logo {
    padding-bottom: 5%;
    padding-top: 5%;
  }

  .color {
    font-family: Gotham Pro;
    font-size: 20px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
    padding-top: 5%;
  }

  .color:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    display: none;
  }

  .header__text-basket,
  .header__ellipse2,
  .header__four {
    display: none;
  }

  .header__text {
    display: none;
  }

  .header__iphone {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .time {
    width: 80%;
    color: white;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    text-align: center;
    flex-wrap: wrap;
    background-color: #252525;
    color: #FFFFFF;
    height: 100%;
    line-height: 50px;
  }

  .color,
  .footer__logo {
    display: none;
  }

  .footer__text-inn {
    display: none;
  }

  .footer__links {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5%;
  }

  .footer__text-button2 {
    padding-bottom: 10%;
  }

  .button2 {
    width: 80%;
  }
  
  .footer__text-rs {
    display: none;
  }

  .footer__text-phone {
    font-size: 30px;
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.25);
  }


}

/*# sourceMappingURL=styles.css.map *