.price {
    font-family: $default-font;
    font-size: 36px;
    line-height: 34px;
    color: $text-color;
    position: absolute;
    left: 10%;
    top: 60%;
}

.latest__video-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.latest__video-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
}

.latest__video-overlay:hover {
    z-index: -1;
}

.latest__video {
    position: relative;
    left: 10%;
    width: 80%;
    min-width: 80%;
    box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.5);
}

.toster {
    width: 100%;
    height: 100%;
    min-width: 100%;
}

.toster:hover {
    display: none;
    z-index: -1;
}

@media screen and (min-width: 1024px) {
    .latest {
        background-color: $latest-bg-color;
        height: 1200px;
        color: $white;
        min-width: 100%;
    }

    .ellipse {
        position: absolute;
        left: 10%;
        top: 77%;
        width: 70px;
        height: 70px;
    }

    .polygon {
        position: absolute;
        left: 12%;
        top: 80%;
        width: 30px;
        height: 30px;
    }

    .latest {
        font-family: $default-font;
        font-size: 64px;
        line-height: 61px;
    }

    .latest__title {
        color: $white;
        text-align: center;
        font-size: 64px;
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .price {
        font-family: $default-font;
        font-size: 36px;
        line-height: 34px;
        color: $text-color;
        position: absolute;
        left: 10%;
        top: 60%;
    }

    .logo {
        position: absolute;
        left: 10%;
        top: 10%;
    }

    .latest__img-title {
        position: absolute;
        left: 10%;
        top: 40%;
        min-width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .ellipse {
        position: absolute;
        left: 10%;
        top: 77%;
        width: 50px;
        height: 50px;
    }

    .polygon {
        position: absolute;
        left: 12%;
        top: 80%;
        width: 20px;
        height: 20px;
    }

    .latest {
        font-family: $default-font;
        font-size: 64px;
        line-height: 61px;
    }

    .latest {
        background-color: $latest-bg-color;
        height: 160vh;
        color: $white;
        min-width: 100%;
    }

    .latest__img-title {
        position: absolute;
        font-size: 30px;
        left: 10%;
        top: 40%;
        min-width: 100%;
    }

    .latest__title {
        color: $white;
        text-align: center;
        font-size: 40px;
        padding-top: 30%;
        padding-bottom: 65px;
    }

    .price {
        font-family: $default-font;
        font-size: 20px;
        line-height: 34px;
        color: $text-color;
        position: absolute;
        left: 10%;
        top: 60%;
    }

    .logo {
        position: absolute;
        left: 10%;
        top: 10%;
    }
}

@media screen and (max-width: 767px) {

    .ellipse {
        position: absolute;
        left: 10%;
        top: 77%;
        width: 20px;
        height: 20px;
    }

    .latest {
        font-family: $default-font;
        font-size: 20px;
        line-height: 10px;
    }

    .latest {
        background-color: $latest-bg-color;
        height: 70vh;
        color: $white;
        min-width: 100%;
    }

    .latest__title {
        color: $white;
        text-align: center;
        font-size: 20px;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .price {
        font-family: $default-font;
        font-size: 20px;
        line-height: 34px;
        color: $text-color;
        position: absolute;
        left: 10%;
        top: 56%;
    }

    .logo {
        position: absolute;
        left: 10%;
        top: 10%;
        width: 5rem;
    }

    .latest__img-title {
        position: absolute;
        left: 10%;
        top: 40%;
        min-width: 100%;
    }

    .polygon {
        position: absolute;
        left: 12%;
        top: 80%;
        width: 10px;
        height: 10px;
    }
}