.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: $light-grey;
    color: $white;
    height: 794px;
    width: 100%;
}

.footer__logo {
    padding-left: 149px;
    padding-top: 132px;
    grid-area: 1/1/2/5;
}
.footer__text-inn {
    color: $white;
    padding-left: 150px;
    padding-top: 100px;
}
.footer__text-catalog,
.footer__text-partnership,
.footer__text-aboutus {
    padding-top: 100px;
    line-height: 19px;
}
.footer__text-request,
.footer__text-catalog {
padding-left: 30px;
}
.footer__text-partnership {
    padding-left: 60px;
}
.footer__text-rs {
    padding-left: 149px;
}
.footer__text-phone {
    font-size: 30px;
    padding-top: 20px;
    color: $dark-grey;
}

.footer__text-aboutus {
    padding-left: 70px;
}
.footer__links {
    padding-top: 70px;
}
.button1 {
    background-color: $dark-grey;
    border-radius: 80px;
    border-style: none;
    box-shadow: inset 15px 15px 15px $dark-grey, 3px 3px 12px $grey-lighten;
    width: 331px;
    height: 76px;
    cursor: pointer;
    text-align: center;
}
.button1:hover {
    background-color: $light-grey;
}
.button2 {
    background-color: linear-gradient(to bottom, #E08E44 0%,#77461A 100%);
    border-radius: 80px;
    border-style: none;
    box-shadow: 0 4px 4px $dark-grey;
    width: 235px;
    height: 76px;
    color: $white;
    font-size: 20px;
    cursor: pointer;
}

.footer__text-button2 {
    padding-top: 48px;
    padding-left: 30px;
}
.button2:hover {
background: linear-gradient(to bottom, #dda06b 0%,#8d6039 100%);
}

.footer__links-instagram,
.footer__links-youtube,
.footer__links-vk {
    padding-left: 50px;
}

.color {
    font-family: Gotham Pro;
    font-size: 20px;
    line-height: 40px;
    color: $grey;
    font-size: 20px;
}
.price {
    font-family: Gotham Pro;
font-size: 36px;
line-height: 34px;
color: $grey;
}