.header__text {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    padding-top: 70px;
    padding-left: 58px;
    color: $white;
}

.header__four,
.header__ellipse2 {
    position: absolute;

}

.header__four {
    position: absolute;
    padding-top: 53px;
    padding-left: 1504px;
    color: $white;
}

.header__ellipse2 {
    position: absolute;
    padding-left: 1500px;
    padding-top: 70px;
}

.vector {
    padding-left: 20px;
}