.new-items {
    display: grid; 
    grid-template-columns: 0.23fr 1.1fr 1.67fr;
    grid-template-rows: 1.25fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 1056px;
    background-image: url('../assets/aircleaner_img/mojki-vozduha.jpg');
}
.new-items__title {
    grid-row: 2/3;
    grid-column: 2/3;
    justify-content: space-around;
    align-content: end;
    font-family: 'GothamPro', 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 61px;
    color: #FFFFFF;
}
.new-items__text {
    grid-row: 3/4;
    grid-column: 2/3;
    justify-content: space-around;
    align-content: space-around;
    font-family: 'GothamPro', 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 43px;
    color: rgba(255, 255, 255, 0.6);
}