@font-face {
  font-family: 'GothamPro';
  font-style: normal;
  font-weight: normal;
  src: url("../Fonts_Gotham Pro/GothamPro.woff2") format("woff2"), url("../Fonts_Gotham Pro/GothamPro.woff") format("woff"), url("../Fonts_Gotham Pro/GothamPro.ttf") format("ttf");
}

@font-face {
  font-family: 'GothamPro-Medium';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 43px;
  color: rgba(255, 255, 255, 0.6);
}

.new-items__btn {
  display: flex;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "GothamPro-Medium", "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  width: 700px;
}

.button2:hover,
.button3:hover {
  -webkit-box-shadow: #787878 0 0 0.375rem;
          box-shadow: #787878 0 0 0.375rem;
}

.button2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#E39045), to(#754519));
  background: linear-gradient(180deg, #E39045 0%, #754519 100%);
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  color: white;
  height: 92px;
  border-radius: 50px;
  width: 320px;
  
}

.button3 {
  background: transparent;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 92px;
  border-radius: 50px;
  width: 320px;
}
.new-items__next {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 100px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .new-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.23fr 1.1fr 1.7fr;
        grid-template-columns: 0.23fr 1.1fr 1.7fr;
    -ms-grid-rows: 1.25fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1.25fr 1fr 1fr 1fr 1fr;
    background-image: url("../assets/aircleaner_img/mojki-vozduha-small.jpg");
    width: 100%;
    height: 100vh;
  }
  .new-items__title {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    font-family: "GothamPro", "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    color: #FFFFFF;
  }
  .new-items__text {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    font-family: "GothamPro", "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.6);
  }
  .new-items__btn {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -webkit-column-gap: 0.5em;
            column-gap: 0.5em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "GothamPro-Medium", "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
  }
  .new-items__btn-orange .new-items__btn-whit:hover {
    -webkit-box-shadow: #787878 0 0 0.375rem;
            box-shadow: #787878 0 0 0.375rem;
  }
  .new-items__btn-orange {
    background: -webkit-gradient(linear, left top, left bottom, from(#E39045), to(#754519));
    background: linear-gradient(180deg, #E39045 0%, #754519 100%);
    -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    width: 140px;
    height: 52px;
    border-radius: 30px;
  }
  .new-items__btn-white {
    border: 2px solid #FFFFFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 140px;
    height: 52px;
    border-radius: 30px;
  }
  .new-items__dots {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    display: -ms-inline-grid;
    display: inline-grid;
    grid-auto-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 0.5em;
            column-gap: 0.5em;
  }
}
/*# sourceMappingURL=aircleaner.css.map */