@font-face {
  font-family: "GothamPro";
  font-style: normal;
  font-weight: normal;
  src: url("../Fonts_Gotham Pro/GothamPro.woff2") format("woff2"), url("../Fonts_Gotham Pro/GothamPro.woff") format("woff"), url("../Fonts_Gotham Pro/GothamPro.ttf") format("ttf");
}

@font-face {
  font-family: "GothamPro-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../Fonts_Gotham Pro/GothamPro-Medium.woff2") format("woff2"), url("../Fonts_Gotham Pro/GothamPro-Medium.woff") format("woff"), url("../Fonts_Gotham Pro/GothamPro-Medium.ttf") format("ttf");
}

@media screen and (min-width: 1024px) {
  .new-items {
    display: grid;
    grid-template-columns: 0.23fr 1.1fr 1.7fr;
    grid-template-rows: 1.25fr 1fr 1fr 1fr 1fr;
    background-image: url("../assets/aircleaner_img/mojki-vozduha.jpg");
    width: 100%;
    height: 1056px;
  }

  .new-items__title {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-content: space-around;
    align-content: end;
    font-family: "GothamPro", "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 61px;
    color: #FFFFFF;
    border: 1px yellow solid;
  }

  .new-items__text {
    grid-row: 2/3;
    grid-column: 2/3;
    justify-content: space-around;
    align-content: space-around;
    font-family: "GothamPro", "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 43px;
    color: rgba(255, 255, 255, 0.6);
    border: solid 1px yellow;
  }

  .new-items__btn {
    grid-row: 4/5;
    grid-column: 2/3;
    display: grid;
    grid-auto-flow: column;
    -moz-column-gap: 1em;
    column-gap: 1em;
    align-items: start;
    font-family: "GothamPro-Medium", "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    width: 700px;
    border: yellow 1px solid;
  }

  .button2:hover,
  .button3:hover {
    box-shadow: #787878 0 0 0.375rem;
  }

  .button2 {
    background: -webkit-gradient(linear, left top, left bottom, from(#E39045), to(#754519));
    background: linear-gradient(180deg, #E39045 0%, #754519 100%);
    -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    color: white;
    height: 92px;
    border-radius: 50px;
    width: 320px;

  }

  .button3 {
    background: transparent;
    color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 92px;
    border-radius: 50px;
    width: 320px;
  }

  .new-items__next {
    grid-row: 3/4;
    grid-column: 4/5;
    align-items: flex-end;
    margin: 100px;
  }

  .new-items__dots {
    grid-row: 5/6;
    grid-column: 2/3;
    display: inline-grid;
    grid-auto-flow: column;
    align-items: start;
    -moz-column-gap: 1em;
    column-gap: 1em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .new-items {
    display: grid;
    grid-template-columns: 0.23fr 1.1fr 1.7fr;
    grid-template-rows: 1.25fr 1fr 1fr 1fr 1fr;
    background-image: url("../assets/aircleaner_img/mojki-vozduha-small.jpg");
    width: 100%;
    height: 100vh;
  }

  .new-items__title {
    grid-row: 2/3;
    grid-column: 2/3;
    justify-content: space-around;
    align-content: end;
    font-family: "GothamPro", "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 41px;
    color: #FFFFFF;
  }

  .new-items__text {
    grid-row: 3/4;
    grid-column: 2/3;
    justify-content: space-around;
    align-content: center;
    font-family: "GothamPro", "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.6);
  }

  .new-items__btn {
    grid-row: 4/5;
    grid-column: 2/3;
    display: grid;
    grid-auto-flow: column;
    -moz-column-gap: 1em;
    column-gap: 1em;
    align-items: center;
    font-family: "GothamPro-Medium", "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
  }

  .new-items__btn-orange .new-items__btn-whit:hover {
    box-shadow: #787878 0 0 0.375rem;
  }

  .new-items__btn-orange {
    background: linear-gradient(180deg, #E39045 0%, #754519 100%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    width: 222px;
    height: 67px;
    border-radius: 50px;
  }

  .new-items__btn-white {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    width: 222px;
    height: 67px;
    border-radius: 50px;
  }

  .new-items__next {
    grid-row: 3/4;
    grid-column: 4/5;
    align-items: flex-end;
    margin-right: 1em;
  }

  .new-items__dots {
    grid-row: 5/6;
    grid-column: 2/3;
    display: inline-grid;
    grid-auto-flow: column;
    align-items: center;
    -moz-column-gap: 1em;
    column-gap: 1em;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .new-items {
    display: grid;
    grid-template-columns: 0.23fr 1.1fr 1.7fr;
    grid-template-rows: 1.25fr 1fr 1fr 1fr 1fr;
    background-image: url("../assets/aircleaner_img/mojki-vozduha-small.jpg");
    width: 100%;
    height: 100vh;
  }

  .new-items__title {
    grid-row: 2/3;
    grid-column: 2/3;
    justify-content: space-around;
    align-content: space-around;
    font-family: "GothamPro", "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    color: #FFFFFF;
  }

  .new-items__text {
    grid-row: 3/4;
    grid-column: 2/3;
    justify-content: center;
    align-content: center;
    font-family: "GothamPro", "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.6);
  }

  .new-items__btn {
    grid-row: 4/5;
    grid-column: 2/3;
    display: grid;
    grid-auto-flow: column;
    -moz-column-gap: 0.5em;
    column-gap: 0.5em;
    align-items: center;
    font-family: "GothamPro-Medium", "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
  }

  .new-items__btn-orange .new-items__btn-whit:hover {
    box-shadow: #787878 0 0 0.375rem;
  }

  .new-items__btn-orange {
    background: linear-gradient(180deg, #E39045 0%, #754519 100%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    width: 140px;
    height: 52px;
    border-radius: 30px;
  }

  .new-items__btn-white {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    width: 140px;
    height: 52px;
    border-radius: 30px;
  }

  .new-items__dots {
    grid-row: 5/6;
    grid-column: 2/3;
    display: inline-grid;
    grid-auto-flow: column;
    align-items: center;
    -moz-column-gap: 0.5em;
    column-gap: 0.5em;
  }
}

/*# sourceMappingURL=aircleaner.css.map */